<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/shop-style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="logo">
            <div class="logo-word">
                <a href="/">
                    <h1>BEY<span>LANDS</span></h1>
                </a>
            </div>
        </div>
        <div class="btn-store">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group container-fluid" style="margin: 1rem;">
                        <select class="form-control" id="active" name="active">
                            <option value="1">ALL</option>
                            <option value="2">Janitorial Supplies</option>
                            <option value="3">Commercial Products</option>
                            <option value="4">Cleaning Chemicals</option>
                            <option value="5">Cleaning Equipments</option>
                            <option value="6">Organic Products</option>

                        </select>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="search container-fluid" style="margin:1rem;width: 100%; padding: 0;">
                        <input class="form-control form-control-l ml-3 w-90" type="09 text" placeholder="Search"
                            aria-label="Search" style="width:350px;" id="searchID">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="cart_btn container-fluid">
                        <a href="/cart">
                            <button style="margin-left: 1rem;" type="button" class="btn" id="cart_icon">
                                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:30px"></i>
                                <% if(session.cart) { %>
                                <% if(session.cart.totalQty <= 0) { %>
                                <span class="badge float-badge"><%= session.cart.totalQty = 0 %></span>
                                <% }else {%>
                                <span class="badge float-badge"><%= session.cart.totalQty %></span>
                                <%}%>
                    <% } %>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="search-mobile">
            <input class="form-control" type="09 text" placeholder="Search" aria-label="Search" id="search-mobileID">
        </div>
    </nav>
    <!-- MOBILE -->
    <div class="btn-store-mobile">
        <div class="form-group category text-center">
            <select class="form-control" id="active" name="active">
                <option value="1">ALL</option>
                <option value="2">Janitorial Supplies</option>
                <option value="3">Commercial Products</option>
                <option value="4">Cleaning Chemicals</option>
                <option value="5">Cleaning Equipments</option>
                <option value="6">Organic Products</option>
            </select>
        </div>
        <div class="cart_btn">
            <a href="/cart">
                <button type="button" class="btn" id="cart_icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:25px"></i>
                    <% if(session.cart) { %>
                    <% if(session.cart.totalQty <= 0) { %>
                    <span class="badge float-badge"><%= session.cart.totalQty = 0 %></span>
                    <% }else {%>
                    <span class="badge float-badge"><%= session.cart.totalQty %></span>
                    <%}%>
                    <% } %>
                </button>
            </a>
        </div>

    </div>

    <!-- MODAL FOR SHOWING ITEM DETAILS -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Add</strong> Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                </div>

                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <a href="/show-product">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="list-store-wrapper container-fluid">
        <% if (msg.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <strong> <%= msg %></strong>
        </div>
        <% }  %>
        <% if (maxLimit.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <strong> <%= maxLimit %></strong>
        </div>
        <% }  %>
        <!-- ITEMS -->
        <div class="shop-items container-fluid text-center">
            <%  db.forEach(function (item){ %>
            <form action="/store/add-to-cart/<%= item.id %>" method="POST">
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <!--USE THIS FOR GETTING THE NAMES IN THE CART-->
                    <center>
                        <img class="shop-item-image" src="/public/uploads/<%= item.image %>" data-toggle="modal"
                            data-target="#addModal" name="jherlofds">
                    </center>
                    <div class="shop-item-details">
                        <span class="shop-item-name"><%= item.name %></span>
                        <span class="shop-item-price">₱<%= item.price %>.00</span>
                        <div class="p-s">
                            <span class="shop-item-stocks">Stocks:</span>
                            <span style="color: black; font-size: 15px; font-weight: 600;"><%= item.stocks %></span>
                        </div>
                        <div class="p-s">
                            <input type="number" class="cart-stocks form-control" min='1' max="<%= item.stocks %>"
                                value='1' name="quantity">
                            <button class="btn shop-item-button" type="submit" style="background: #f7912b; border:0;">
                                ADD TO CART
                            </button>
                        </div>

                    </div>

                </div>
            </form>
            <% }) %>

        </div>
    </div>
    <script type="module" src="/public/js/store.js"></script>


</body>

</html>