<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Shop</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script> -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/shop-style.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <!-- MODAL FOR VIEWING THE CART -->
    <div class="modal fade" tabindex="1" role="dialog" id="cartModal">
        <div class="modal-dialog" style="max-width: 900px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CART</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content" style="overflow-y: auto;">
                        <div class="cart-row">
                            <span class="cart-productName cart-header cart-column">Product Name</span>
                            <span class="cart-price cart-header cart-column">Price</span>
                            <span class="cart-quantity cart-header cart-column">Quantity</span>
                            <span class="cart-total cart-header cart-column">Total</span>
                            <span class="cart-action cart-header cart-column">Action</span>
                        </div>
                        <div class="cart-items">
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="mtotal">
                        <strong class="modal-footer-total ">Total:</strong>
                        <span class="modal-footer-price ">₱0</span>
                    </div>

                    <button type="button" class="btn btn-primary">Order</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md">
        <div class="logo">
            <div class="logo-word">
                <a href="/">
                    <h1>BEY<span>LANDS</span></h1>
                </a>
            </div>
        </div>
        <div class="btn-store">
            <ul class="navbar-nav m-auto">
                <form class="form-inline nav-form">
                    <div class="form-group">
                        <select class="form-control" id="active" name="active">
                            <option value="1">ALL</option>
                            <option value="2">Janitorial Supplies</option>
                            <option value="3">Commercial Products</option>
                            <option value="4">Cleaning Chemicals</option>
                            <option value="5">Cleaning Equipments</option>
                            <option value="6">Organic Products</option>

                        </select>
                    </div>

                    <div class="active-cyan-1 mb-0">
                        <input class="form-control  form-control-l ml-3 w-90" type=" text" placeholder="Search"
                            aria-label="Search" style="width:20rem;">
                    </div>
                    <button type="button" class="btn" data-toggle="modal" data-target="#cartModal">
                        View Cart
                    </button>


                </form>
            </ul>
        </div>
    </nav>
    <div class="btn-store-mobile">
        <a href="#" class="nav-link text-light">ALL</a>
        <a href="#" class="nav-link text-light">ALL</a>
        <a href="#" class="nav-link text-light">ALL</a>
    </div>

    <!-- MODAL FOR SHOWING ITEM DETAILS -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Add</strong> Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                </div>

                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <a href="/show-product">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="list-store-wrapper">
        <!-- ITEMS -->
        <div class="shop-items">

            <%  db.forEach(function (item){ %>
            <form action="/store/add-to-cart/<%=item.id %>" method="GET">
                <div class="shop-item" data-item-id=" <%= item.id %>">
                    <center>
                        <img class="shop-item-image" src="/public/uploads/<%= item.image %>" data-toggle="modal"
                            data-target="#addModal">
                    </center>

                    <div class="shop-item-details">
                        <span class="shop-item-name"><%= item.name %></span>
                        <span class="shop-item-price">₱<%= item.price %>.00</span>
                        <button data-item="<%= JSON.stringify(item) %> " class="btn shop-item-button" type="submit"
                            style="background: #f7912b; border:0;">
                            ADD TO CART</button>
                    </div>
                </div>
            </form>
            <% }) %>

        </div>

        <script type="module" src="/public/js/store.js"></script>
</body>

</html>